body {
    background-color: lightblue;
  }

div{
justify-items: center;
}

#submit,#input,#result,#copy{
  width: 100%;
  margin:auto
}

button{
  height:40px;
  font-size:16px;
  text-transform: uppercase;
}

#ruler{
  width: 100%;
  background-color:gainsboro;
  z-index: 999;
  padding:10px 20px;
}

#example{
  width: 100%;
  background-color:gainsboro;
  padding:10px 20px;
  z-index: 999;
}